<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SquareTradeSuite">
	<listeners>

		<listener class-name="com.squaretrade.tests.Listeners" />
	</listeners>

	<test name="Validating title in the Page">
		<classes>
			<class name="com.squaretrade.tests.ValidateHeaderandFooter" />

		</classes>
	</test>
	<test name="Validating User login">
		<classes>
			<class name="com.squaretrade.tests.SigninTests" />

		</classes>
	</test>
	<test name="Validating error messages">
		<classes>
			<class name="com.squaretrade.tests.ValidateErrorMessage" />
		</classes>
	</test>

	<test name="Validating invalid User login">
		<classes>
			<class name="com.squaretrade.tests.SignininvalidTests" />
		</classes>
	</test>

	<test name="Validating Invalid userlogin Apple">
		<classes>
			<class name="com.squaretrade.tests.AppleInvalidTest" />
		</classes>
	</test>
	<test name="Validating valid userlogin Apple">
		<classes>
			<class name="com.squaretrade.tests.ApplevalidTest" />
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
